.header {
    background-color: #007bff;
    color: #fff;
    padding: 40px;
    text-align: center;
    border-bottom: 4px solid #0056b3;
}

.logo {
    font-size: 48px;
    font-weight: bold;
    margin-right: 20px;
}

.emoji {
    font-size: 48px;
}
